{% block content %}
<div class="content-section">
	<form method="POST" action="{{ url_for('users.post_signup') }}" enctype="multipart/form-data">
		{{ form.csrf_token }}
		{{ form.hidden_tag() }}

		{% for field in form if field.name != "csrf_token" %}
		<div class="form-group">
			{% if field.name != "btn" %}
			{{ field.label(class="form-control-label") }}
			{% endif %}
			{% if field.name != "btn" %}
			{{ field(class="form-control form-control-lg") }}
			{% else %}
			{{ field(class="btn btn-outline-info") }}
			{% endif %}
			{% for error in field.errors %}
			{{ error }}
			{% endfor %}
		</div>
		{% endfor %}
	</form>
</div>
{% endblock content %}