{% include "_layout.html" %}
{% block content %}

<script src="../../../../../instagram_web/static/js/vendor/ckeditor.js"></script>
<form method="POST" action="{{ url_for('recipes.post_create_recipe') }}" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        {% for field in form if field.name != "csrf_token" %}
        {% if field.name != "btn" %}
            <div class="modal-body">
                <div class="form-group">
                    {{ field.label(class="form-control-label form-control-lg") }}
                    {{ field(class="form-control") }}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {{ form.btn(class="btn btn-info") }}
            </div>
        {% endif %}
        {% endfor %}
    </fieldset>
    <textarea cols="80" rows="10" id="content" name="content"> 
            &lt;h1&gt;Article Title&lt;/h1&gt;
            &lt;p&gt;Here's some sample text&lt;/p&gt;
          </textarea>
          <script type="text/javascript">
            CKEDITOR.replace( '.content' );
          </script>
          
<script src="../../../../../instagram_web/static/js/vendor/ckeditor.js"></script>
</form>
{% endblock %}