{% extends "_layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="col-12">
        <div class="card mb-3">
            <div class="card-header">Posted by <a
                    href="{{url_for('users.that_profile', user=recipe.user_id)}}">{{ recipe.user.username }}</a> on
                {{ recipe.updated_at.strftime('%Y-%m-%d') }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ recipe.title}}</h5>
                <img src="{{ recipe.picture }}" alt="" srcset="">
                <p class="card-text">
                    {{ recipe.description}}
                </p>
            </div>
            <!-- Perform the editing of current webpage for non-owner -->
            {% if recipe.user_id == current_user.id %}
                {% include "edit_recipe_form.html" %}
                {% include "delete_recipe_form.html" %}
            {% endif %}
            <!-- The to-do steps for the recipe -->
        </div>
    </div>
</div>


{% endblock content %}