<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

	{% assets "home_css" %}
	<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}

	<link rel="stylesheet" href="{{ url_for('static', filename='css//icomoon/style.css')}}">


	{% block header %}{% endblock %}
	<title>{% block title %}{% endblock %}NEXTAGRAM</title>
</head>

<body>
	{% include "navbar.html" %}
	<div class="text-center my-4">
		{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% include "flash.html" %}
			{% endif %}
		{% endwith %}
	</div>
	{% block content %}
    {% endblock %}
	{% assets "home_js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
</body>

</html>