
<div class="jumbotron bg-dark">
	<div class="text-white">
		<div class="text-center">
			<h1 class="display-4">Showcase the Best Recipes</h1>
			<p class="lead">This is a fun site where excitement get shared</p>
		</div>
		<hr class="my-4">
		<p>
			Aliqua ad officia non eu id velit eu eiusmod sunt ea in adipisicing. Amet sit cillum minim in irure non cupidatat
			ad elit aliquip cupidatat. Qui culpa consectetur adipisicing magna aliquip est do dolor id deserunt. Ipsum id
			voluptate esse deserunt consequat duis. Sit mollit aute nulla magna consequat eu.
		</p>
		<p>
			Dolor sint reprehenderit tempor anim nostrud non. Velit et irure anim id aute nulla aliqua dolor culpa ex.
			Consequat adipisicing ullamco do pariatur sunt magna adipisicing excepteur aliquip.
		</p>
		<p class="lead d-flex justify-content-around mt-4">
			<a class="btn btn-outline-primary btn-lg" href="{{ url_for('users.get_login') }}" role="button">Log In</a>
			<a class="btn btn-outline-success btn-lg ml-4" href="{{ url_for('users.get_signup') }}" role="button">Sign
				Up</a>
		</p>
	</div>
</div>